h1= I18n.t('ticket.accept_ticket', name: @Ticket.title)
h6= I18n.t('ticket.ticket_time_created', created_at: @Ticket.created_at)
hr
p= I18n.t('detailed_information')
- if @Ticket.body?
  p #{@Ticket.body.html_safe}
= render 'take'
