= simple_form_for [:admin,@Type ] do |f|

  = f.input :name ,label: I18n.t('type.name')

  .btn_box
    = f.button :submit, I18n.t('save'), class: 'btn btn-outline-success tag-tooltip',
                    :data => {:toggle=>"tooltip"},
                    'data-original-title' => "Сохранить тип заявки",
                    'data-placement' => 'bottom'
    = link_to I18n.t('cancel'), admin_types_path, class: 'btn btn-light'
    = link_to I18n.t('delete') ,[ :admin, @Type ], class: 'btn btn-outline-danger tag-tooltip',
    data: {confirm: "хотите удалить '#{@Type.name}'", :toggle=>"tooltip"},
    'data-original-title' => "Удалить тип заявки",
    'data-placement' => 'bottom',
    method: :delete if @Type.persisted?
