= simple_form_for [:admin,@Confirmed ] do |f|

  = f.input :email ,label: 'email'

  .btn_box
    = f.button :submit, I18n.t('add'), class: 'btn btn-outline-success tag-tooltip',
                    :data => {:toggle=>"tooltip"},
                    'data-original-title' => I18n.t('email.add_new'),
                    'data-placement' => 'bottom'
    = link_to I18n.t('cancel'), admin_confirmeds_path, class: 'btn btn-outline-dark'
    = link_to I18n.t('delete') ,[ :admin, @Confirmed ], class: 'btn btn-outline-danger tag-tooltip',
    data: {confirm: I18n.t('want_delete', name: @Confirmed.email), :toggle=>"tooltip"},
    'data-original-title' => "Удалить email",
    'data-placement' => 'bottom',
    method: :delete if @Confirmed.persisted?
